.nav.container {
  margin-top: 22px;
  /* height: 55px; */
  padding-bottom: 22px;
  background-color: rgb(117, 117, 117);
}

.nav .logo {
  overflow: hidden;
  background-color: #ff6700;
  height: 55px;
  width: 55px;
  float: left;
}

.nav .logo a {
  display: block;
  background: no-repeat url(https://s01.mifile.cn/i/mi-logo.png) center;
  height: 55px;
  width: 55px;
}

.nav .search {
  height: 55px;
  width: 300px;
  float: right;
  box-sizing: border-box;
  position: relative;
}

.nav .search .search-content {
  width: 250px;
  height: 100%;
  /* border-right: 1px solid #e0e0e0; */
  border: 1px solid rgb(224, 224, 224);
  border-right: none;
}

.nav .search .search-content {
  height: 55px;
  float: left;
  outline: none;
  padding-left: 15px;
  width: 244px;
}

.nav .search .search-icon {
  border: 1px solid rgb(224, 224, 224);
  /* border-left: none; */
  float: left;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  color: rgb(97, 97, 97);
  font-size: 17px;
}

.nav .search:hover .search-content, .nav .search:hover .search-icon {
  border-color: rgb(176, 176, 176);
  /* background-color:red; */
}

.nav .search .search-icon:hover {
  background-color: #ff6700;
  color: white;
  border-color: #ff6700;
}

.nav .search .search-content:focus {
  border-color: #ff6700;
}

.nav .search .search-content:focus+.search-icon {
  border-color: #ff6700;
}

.nav .search .search-content:focus~.recommend {
  display: none;
}

.nav .search .search-content:focus~.recommend {
  display: none;
}

.nav .search .recommend {
  position: absolute;
  background-color: rgb(238, 238, 238);
  color: rgb(117, 117, 117);
  padding: 0 6px;
  font-size: 12px;
}

.nav .search .recommend:hover {
  color: white;
  background-color: #ff6700;
  cursor: pointer;
}

.nav .search .recommend:nth-of-type(2) {
  left: 172px;
  top: 18px;
}

.nav .search .recommend:nth-of-type(1) {
  left: 124px;
  top: 18px;
}

.nav .search .search-hot {
  display: none;
  position: absolute;
  left: 0;
  width: 245px;
  top: 100%;
  cursor: pointer;
  border: #ff6700 1px solid;
  border-top: none;
  background-color: white;
}

.nav .search .search-content:focus~.search-hot {
  display: block;
}

.nav .search .search-hot li {
  /* height: 38px; */
  line-height: 30px;
  padding: 0 18px;
  font-size: 12px;
}

.nav .search .search-hot li:hover {
  background-color: rgb(250, 250, 250);
}

.nav .search .search-hot .product-num {
  float: right;
  color: rgb(176, 176, 176);
}

.nav .nav-list {
  float: right;
  margin-right: 100px;
}

.nav .nav-list span {
  float: left;
  padding: 10px;
  padding-bottom: 18px;
  font-size: 16px;
  line-height: 50px;
  color: black;
  cursor: pointer;
}

.nav .nav-list span:hover {
  color: #ff6700;
}

.nav .nav-list-product {
  background-color: lightgreen;
  height: 0;
  width: 100%;
  /* margin: 0 -10000px; */
  top: 140px;
  z-index: 999;
  position: absolute;
  transform: translateX(-272px);
  transition: .3s .1s;
  overflow: hidden;
}

.nav .nav-list span:hover~.nav-list-product {
  height: 230px;
}

.nav .nav-list .nav-list-product:hover {
  height: 230px;
}

.nav .nav-list .nav-list-product li {
  float: left;
}

.nav .nav-list .nav-list-product * {
  display: block;
}