* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  color: #333;
  background-color: #fff;
  min-width: 1226px;
  overflow-y: scroll;
  /* 快速验证 */
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 1226px;
}

a {
  color: #b0b0b0;
  text-decoration: none;
}


@font-face {
  font-family: 'iconfont';
  /* project id 1210020 */
  src: url('//at.alicdn.com/t/font_1210020_bfb2rgqsiyh.eot');
  src: url('//at.alicdn.com/t/font_1210020_bfb2rgqsiyh.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1210020_bfb2rgqsiyh.woff2') format('woff2'), url('//at.alicdn.com/t/font_1210020_bfb2rgqsiyh.woff') format('woff'), url('//at.alicdn.com/t/font_1210020_bfb2rgqsiyh.ttf') format('truetype'), url('//at.alicdn.com/t/font_1210020_bfb2rgqsiyh.svg#iconfont') format('svg');
}

/* 字体图标通用类 */

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
}

.clearfix::after {
  content: '';
  display: block;
  /* height: 0;
   line-height: 0; */ 
  clear: both;
}