.site-header {
  height: 100px;
  position: relative;
  z-index: 10;
}

.site-header .container {
  position: relative;
}

.site-header .logo {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 22px;
  left: 0;
  background-image: url(./imgages/logo.png);
}

.site-header .header-search {
  width: 296px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 25px;

}

.site-header form {
  font-size: 0;
}

.site-header form * {
  font-size: initial;
}

.site-header .header-search .search-content {
  width: 245px;
  height: 50px;
  padding: 0 10px;
  border: 1px solid #e0e0e0;
  font-size: 14px;
  line-height: 50px;
  outline: 0;
  transition: all .2s;
  vertical-align: top;
}

.site-header .header-search .submit {
  display: inline-block;
  width: 52px;
  height: 50px;
  border: 1px solid #e0e0e0;
  margin-left: -1px;
  font-size: 24px;
  line-height: 24px;
  background: #fff;
  color: #616161;
  outline: 0;
  transition: all .2s;
  vertical-align: top;
}

.site-header .header-search .submit i {
  display: block;
  text-align: center;
  line-height: 52px;
  font-size: 30px;
}

.site-header .header-search .iconfont {
  vertical-align: -1px;
}

.site-header .header-search:hover .submit {
  border-color: #c0c0c0;
}

.site-header .header-search:hover .search-content {
  border-color: #c0c0c0;
}

.site-header .header-search .submit:hover {
  background-color: #ff6700;
  color: white;
  border-color: #ff6700;
}

.site-header .header-search .search-commend {
  position: absolute;
  background-color: rgb(238, 238, 238);
  font-size: 12px;
  padding: 0 4px;
  transition: all .2s;
}

.site-header .header-search .search-commend:first-of-type {
  right: 62px;
  top: 16px;
}

.site-header .header-search .search-commend:last-of-type {
  right: 126px;
  top: 16px;
}

.site-header .header-search .search-commend:hover {
  background-color: #ff6700;
  color: white;
}

.site-header .header-search .search-list {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: -1px;
  width: calc(100% - 51px);
  border: 1px solid #ff6700;
  display: none;
  background-color: #fff;
  z-index: 999;
}

.site-header .header-search .search-list li {
  float: left;
  width: 100%;
  padding: 0 16px;
}

.site-header .header-search .search-list li:hover {
  background-color: rgb(250, 250, 250);
}

.site-header .header-search .search-list .pl-number {
  float: right;
  font-size: 12px;
  line-height: 30px;
  color: #c0c0c0;
}

.site-header .header-search .search-list .pl-name {
  float: left;
  font-size: 12px;
  line-height: 30px;
}

.site-header .header-search .search-content:focus {
  border-color: #ff6700;
}

.site-header .header-search .search-content:focus~label {
  border-color: #ff6700;
}

.site-header .header-search input:focus~.search-list {
  display: block;
}

.site-header .header-search input:focus~.search-commend {
  opacity: 0;
}

.site-header .header-nav {
  margin-top: 10px;
  margin-left: 235px;
  width: 650px;
}

.site-header .header-nav>a {
  padding: 29px 10px 40px;
  display: block;
  font-size: 16px;
  color: #333333;
  float: left;
}

.site-header .header-nav a:hover {
  color: #ff6700;
}

.site-header .header-nav a:not(:nth-last-of-type(1)):not(:nth-last-of-type(2)):hover~.header-navlist {
  height: 230px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #e0e0e0;
}

.site-header .header-nav a:nth-child(1):hover~.header-navlist .header-product1 {
  display: block;
}

.site-header .header-nav .header-navlist .header-product1:hover {
  /* z-index: 1; */
  display: block;
}

.site-header .header-nav a:nth-child(2):hover~.header-navlist .header-product2 {
  display: block;
}

.site-header .header-nav .header-navlist .header-product2:hover {
  /* z-index: 1; */
  display: block;
}

.site-header .header-nav a:nth-child(3):hover~.header-navlist .header-product3 {
  display: block;
}

.site-header .header-nav .header-navlist .header-product3:hover {
  /* z-index: 1; */
  display: block;
}

.site-header .header-nav a:nth-child(4):hover~.header-navlist .header-product4 {
  display: block;
}

.site-header .header-nav .header-navlist .header-product4:hover {
  /* z-index: 1; */
  display: block;
}

.site-header .header-nav a:nth-child(5):hover~.header-navlist .header-product5 {
  display: block;
}

.site-header .header-nav .header-navlist .header-product5:hover {
  /* z-index: 1; */
  display: block;
}

.site-header .header-nav a:nth-child(6):hover~.header-navlist .header-product6 {
  display: block;
}

.site-header .header-nav .header-navlist .header-product6:hover {
  /* z-index: 1; */
  display: block;
}

.site-header .header-nav a:nth-child(7):hover~.header-navlist .header-product7 {
  display: block;
}

.site-header .header-nav .header-navlist .header-product7:hover {
  /* z-index: 1; */
  display: block;
}

.site-header .header-nav .header-navlist {
  /* height: 230px; */
  height: 0px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  left: -1000px;
  top: 100%;
  box-sizing: content-box;
  padding: 0 1000px;
  /* box-shadow: 0 3px 3px rgba(0,0,0,0.2); */
  box-shadow: none;
  transition: height .3s;
}

.site-header .header-nav .header-navlist:hover {
  height: 230px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #e0e0e0;
}

.site-header .header-nav .header-navlist [class^=header-product] {
  width: 1230px;
  height: 100%;
  margin-top:-1px;
  padding-top: 36px;
  /* opacity: 0; */
  display: none;
  /* position: absolute; */
  background-color: white;
}

.site-header .header-nav .header-navlist [class^=header-product] li {
  float: left;
  width: 205px;
  position: relative;
}

.site-header .header-nav .header-navlist [class^=header-product] * {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
}

.site-header .header-nav .header-navlist [class^=header-product] .navlist-name {
  margin-top: 20px;
  color: #333333;
}

.site-header .header-nav .header-navlist [class^=header-product] .navlist-price {
  margin-top: 3px;
  color: #ff6700;
}

.site-header .header-nav .header-navlist li:not(:last-of-type)::after {
  content: '';
  background-color: #e0e0e0;
  height: 100px;
  width: 1px;
  position: absolute;
  top: 0;
  right: 0;
}

/* .site-header .header-nav .header-navlist  li:nth-of-type(3)::before {
  content: '新品';
  position: absolute;
  display: block;
  text-align: center;
  font-size: 12px;
  padding: 1px 20px;
  border: 1px solid #ff6700;
  color: #ff6700;
  top: -35px;
  left: 68px;
} */

.site-header .header-nav .header-navlist li.header-p-new::before {
  content: '新品';
  position: absolute;
  display: block;
  text-align: center;
  font-size: 12px;
  padding: 1px 20px;
  border: 1px solid #ff6700;
  color: #ff6700;
  top: -35px;
  left: 68px;
}