.page-main {
  margin-top:42px ;
  background-color: #f5f5f5;
  padding-top: 22px;
}


/* 手机版块 */
.page-main .phone {
  position: relative;
}
.page-main  h2{
  color: #333333;
  font-weight: normal;
  padding: 0;
  margin: 0;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}
/* 实现每个版块 h2 右边的功能盒子 */
/* .page-main .funcbox{
  position: absolute;
  right: 0;
  top: 0;
  line-height: 58px;
} */

.page-main .phone .viewall a{
  position: absolute;
  right: 0;
  top: 0;
  line-height: 58px;
  transition: .2s;
  font-size: 16px;
  color: #424242;
}
.page-main .phone .viewall a:hover {
  color: #ff6700;
}
.page-main .phone .viewall a:hover .iconfont {
  background-color: #ff6700;
}
.page-main .phone .viewall .iconfont {
  display: inline-block;
  background-color: #b1afad;
  border-radius: 50%;
  font-weight: bold;
  width: 20px;
  line-height: 20px;
  text-align: center;
  color: white;
  transition: .3s;
  margin-left: 5px;
}




.page-main  .left { 
  width: 234px; 
  float: left;
}
.page-main  .left li{
  float: left;
  transition: all .2s linear;
  margin-bottom: 14px;
  
}
.page-main  .left img{
  vertical-align: top;
}
.page-main  .right {
  float: right;
  width: 992px;
}
.page-main  .right li{
  width: 234px;
  height: 300px;
  float: left;
  padding:20px 0;
  background-color: white;
  margin-left: 14px;
  margin-bottom: 14px;
  transition: all .2s linear;
  position: relative;
}
.page-main  .left li:hover{
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
  transform: translate3d(0, -2px, 0);  
}

.page-main  .right li:hover {
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
  transform: translate3d(0, -2px, 0);
}

.page-main .right li.new::before{
  content: "新品"; 
  font-size: 12px;
  text-align: center;
  display: block;
  background-color: #83c44e;
  color: #fff;
  position:absolute;
  width: 64px;
  margin:0 auto;
  left: 0;
  right: 0;
  line-height: 20px;
  top: 0;

  
}
.page-main  .right li.discount::before{
  content: "享8折"; 
  font-size: 12px;
  text-align: center;
  display: block;
  background-color: #e53935;
  color: #fff;
  position:absolute;
  width: 64px;
  margin:0 auto;
  left: 0;
  right: 0;
  line-height: 20px;
  top: 0;
}


.page-main  .right li * {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.page-main  .right li .name {
  font-size: 14px;
  color: #333333;
  margin-top: 18px;
}
.page-main  .right li .description{
  font-size: 12px;
  color: #b0b0b0;
  margin-top:1px;
}
.page-main  .right li .price {
  font-size: 14px;
  color: #ff6700;
  margin-top: 10px;
}
.page-main  .right li .price .del {
  display: inline;
  text-decoration: line-through;
  color: #b0b0b0;
}

/* 第一个home-bar */
.page-main .homebar img {
  vertical-align: top;
  margin-top: 28px;
  margin-bottom: 22px;
}

/* 家电版块 */
.homeelec {
  position: relative;
 
}
.homeelec .nav {
  position: absolute;
  right: 0;
  /* width: 300px; */
  top: 0;
  height: 58px;
  font-size: 16px;
}

.homeelec .nav li {
  float: left;
  height: 58px;
  margin-left: 32px;
  margin-top: 10px;
}
.homeelec .nav li a {
  /* display:  */
  line-height: 20px;
  display: inline-block;
   border-bottom: 2px solid transparent;
   color: #424242;
  transition: color .3s, border-color .3s;
}
.homeelec .nav li a:hover {
  /* display: inline-block */
  color: #ff6700;
  border-color: #ff6700
  /* vertical-align: 3px; */
}
.homeelec .nav li a.onhover {
  /* display: inline-block */
  color: #ff6700;
  border-color: #ff6700
  /* vertical-align: 3px; */
}
.homeelec .right li .comment-c {
  margin: 10px 0;
  
}
.homeelec .right li .comment {
  height: 0;
  overflow: hidden;
  width: 100%;
  padding:0 20px;
  text-align-last: left;
  position: absolute;
  bottom: 0;
  background-color: #ff6700;
  color: #fff;
  font-size: 12px;
  transition: all .2s linear;
}

.homeelec .right li:hover  .comment {
  height: 78px;

 
}
.homeelec .right li .user span {
  display: inline-block;
}
.homeelec .right li .user  {
  color: rgba(255,255,255,.6);
  font-size: 12px;
}

.homeelec .right li.small {
  height: 143px;
  padding-right: 120px;
  padding-left: 30px;

}
.homeelec .right li.small a.name,
.homeelec .right li.small .price {
  text-align: left;
}
.homeelec .right li.small a.name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.homeelec .right li.small a.img{
  position: absolute;
  right: 13px;
  top: 32px;
}
.homeelec .right li.viewmore {
  height: 143px;
  padding: 40px 26px;
  position: relative;
}


.homeelec .right li.viewmore  div {
  float: left;
  font-size: 18px;
  color: #333333;
  margin-top: 10px;
}
.homeelec .right li.viewmore  div .items {
  text-align: left;
  font-size: 12px;
  color: #757575;
  padding-top: 5px;
}
.homeelec .right li.viewmore .iconfont {
  float: right;
  font-size: 55px;
  color: #ff6700;
}


